<div class="column12">
		<form id="cadastro">
			<!-- No backend ou com javascript é possível alterar o valor do campo span para cada tipo difetente de cadastro-->
			<h4> Novo cadastro para <span id="tipo-cadastro">suporte<span></h4><br>

			<label>Nome completo</label>
			<input name="nome" type="text">

			<label>RG</label>
			<input name="rg" type="text">

			<label>CPF</label>
			<input name="cpf" type="text">

			<label>Matricula</label>
			<input name="matricula" type="text">

			<label>Data de nascimento</label>
			<input name="data-nascimento" type="text" placeholder="26/09/1993">

			<label>Sexo</label>

			<input class="radio-male" type="radio" name="sexo" value="Masculino">
			<label class="radio-male">Masculino</label><br>

			<input class="radio-female" type="radio" name="sexo" value="Feminino">
			<label class="radio-female">Feminino</label><br>

			<br>
			<label>Função</label>
			<select name="funcao">
				<option value="professor">Professor</option>
				<option value="coodenador">Coordenador</option>
				<option value="assistente administrativo">Assistente administrativo</option>				
			</select>
			
			<label>Setor</label>
			<select name="setor">
				<option value="matricula">Matricula</option>
				<option value="manutenção de carros">Manutenção de carros</option>
				<option value="equipamentos">Equipamentos</option>				
			</select>

			<label>Nome de usuário</label>
			<input name="nome-usuario" type="text">

			<label>Senha</label>
			<input name="senha" type="password">

			<label>Comfirme a senha</label>
			<input name="comfirmar-senha" type="password">

			<label>Email</label>
			<input type="email">

			<input type="submit" value="Cadastrar">
		</form>
	</div>