<nav> <a <a href="#/">dashboard</a> > <a href="#/usuarios"> usuários </a> > <a href="#/cadastrar-usuario"> novo usuário </a> > sucesso</nav>

<div class="column12">
	<h4>Usuário cadastrado com sucesso.</h4>
</div>