<nav> <a <a href="#/">dashboard</a> > usuários</nav>

<div class="column12">
	<div class="table-container">
		<div class="menu-default">
			<h4> Todos os usuários </h4>
			<div class="options">
				<a href="#/cadastrar-usuario"><button class="button-white">Novo usuário</button></a>
				<select id="query" ng-model="query" ng-change="filter(query)">
					<option value="all">Todos</option>
					<option value="ordinary">Comum</option>
					<option value="support">Suporte</option>
				</select>
			</div>
		</div>

		<table>
			<tr>
				<th>Nome</th>
				<th>Nome de usuário</th>
				<th>E-mail</th>
				<th>Data de nascimento</th>
				<th>Tipo</th>
				<th></th>
			</tr>

			<tr ng-repeat=" user in users">
				<th><a href="#/usuario?id={{user.id}}">{{ user.name }}</a></th>
				<th>{{ user.user_name }}</th>
				<th>{{ user.email }}</th>
				<th>{{ user.date_of_birth | date}}</th>
				<th>{{ user.privileges | privileges }}</th>
				<th><i class="fa fa-trash" ng-click="modalDelete(user.id)"></i></th>
			</tr>
		</table>
	</div>
</div>


<div class="modal-message" id="delete_modal">
		<h4><i class="fa fa-exclamation-circle"></i> Cuidado!</h4>
		<hr>
		<p>Você tem certeza que deseja excluir esse usuário?</p>
		<div class="buttons">
			<button class="button-primary" ng-click="delete()">Comfirmar</button>
			<button ng-click="hiddenModal()">Cancelar</button>
		</div>
</div>
