<nav id="nav-admin"> <a <a href="#/dashboard">dashboard</a> > <a href="#/usuarios"> usuários </a> > editar usuário</nav>

<nav id="simple-nav"> <a <a href="#/dashboard">dashboard</a> > editar informações pessoais</nav>

	<div class="column6">
		<form id="cadastro">
			
			<h4> Editar <span id="tipo-cadastro">usuário<span></h4>

			<p id="message" class="message info">Todos os campos devem ser preenchidos.</p>

			<label>Nome completo</label>
			<input id="name" name="nome" type="text" ng-model="name">

			<div class="field-2-col">
				<label>Nome de usuário</label>
				<input id="user_name" name="nome-usuario" type="text" ng-model="user_name">	
			</div>

			<div class="field-2-col">
				<label>Email</label>
				<input id="email" type="email" ng-model="email">
			</div>

			<div id="div-campus" class="field-2-col">
				<label>Campus</label>
				<select id="campus" name="campus"  ng-model="campus">
					<option value="Campus A">Campus A</option>
					<option value="Campus A">Campus B</option>
					<option value="Campus A">Campus C</option>
				</select>
			</div>

			<div id="div-role" class="field-2-col">
				<label>Função</label>
				<select id="role" name="role" ng-model="role">
					<option value="Técnico">Técnico</option>
					<option value="Técnico administrivo">Técnico administrivo</option>
					<option value="Professor">Professor</option>
				</select>
			</div>

			<div id="div-rg" class="field-2-col">
				<label>RG</label>
				<input id="rg" name="rg" type="text" ng-model="rg">
			</div>

			<div id="div-cpf" class="field-2-col">
				<label>CPF</label>
				<input id="cpf" name="cpf" type="text" ng-model="cpf">
			</div>

			<div class="field-2-col">
				<label>Data de nascimento</label>
				<input id="date_of_birth" name="data-nascimento" type="text" ng-model="date_of_birth">
			</div>

			<div id="div-privileges" class="field-2-col">
				<label>Tipo de usuário</label>
				<select id="privileges" name="privileges" ng-model="privileges">
					<option value="ordinary">Comum</option>
					<option value="support">Suporte</option>
				</select>
			</div>

			<label>Sexo</label>

			<input class="radio-male" type="radio" name="gender" value="m" ng-model="gender">
			<label class="radio-male">Masculino</label><br>

			<input class="radio-female" type="radio" name="gender" value="f" ng-model="gender">
			<label class="radio-female">Feminino</label><br>

			<br>
			<input type="submit" value="Atualizar" ng-click="sendForm()">
		</form>
	</div>