<nav> <a href="#/dashboard">dashboard</a> >  mudar senha </nav>

<div class="column3">
	<h4>Alterar a senha</h4>

		<p id="message" class="message info">Todos os campos devem ser preenchidos.</p>

		<label>Senha atual</label>
		<input class="input-100" type="password" ng-model="password">

		<label>Nova senha</label>
		<input class="input-100" type="password" ng-model="new_password">

		<label>Comfirme a senha</label>
		<input class="input-100" type="password" ng-model="comfirm_password">

		<button class="button-white" ng-click="changePassword()">Atualizar senha</button>

	
</div>