<hr>
<h5>Setores</h5>

<ul class="list-trash">
	<li ng-repeat="sector in my_sectors">
		{{ sector.name }}
		<i class="fa fa-trash" ng-click="showAssociationDeleteModal(sector.id)"></i>
	</li>
</ul>

<select id="sector">
	<option ng-repeat="sect in sectors" value="{{ sect.id }}"> {{ sect.name }}</option>
</select>
<button class="button-white" ng-click="createAssociation()">Adicionar setor</button>