<nav> <a <a href="#/dashboard">dashboard</a> > <a href="#/usuarios"> usuários </a> > visualizar</nav>

<div class="column6">
	<div class="att">
		<label>Nome completo</label>
		<p>{{ name }}</p>
	</div>

	<div class="att col2">
		<label>Nome de usuário</label>
		<p>{{ user_name }}</p>
	</div>

	<div class="att col2">
		<label>E-mail</label>
		<p>{{ email }}</p>
	</div>

	<div class="att col2">
		<label>Campus</label>
		<p>{{ campus }}</p>
	</div>

	<div class="att col2">
		<label>Função</label>
		<p>{{ role }}</p>
	</div>

	<div class="att col2">
		<label>RG</label>
		<p>{{ rg }}</p>
	</div>

	<div class="att col2">
		<label>CPF</label>
		<p>{{ cpf }}</p>
	</div>

	<div class="att col2">
		<label>Data de nascimento</label>
		<p>{{ date_of_birth | date}}</p>
	</div>

	<div class="att col2">
		<label>Usuário</label>
		<p>{{ privileges | privileges }}</p>
	</div>

	<div class="att col2">
		<label>Sexo</label>
		<p>{{ gender | gender }}</p>
	</div>

	<div class="form-phones">
		<label>Telefones</label>
		<ul>
			<li ng-repeat="phone in phones">
				{{ phone.number }}
				<i class="fa fa-trash" ng-click="deletePhone(phone.id)"></i>
				
			</li>
		</ul>
		<label>Novo telefone</label>
		<input ng-model="number" id="phone" type="text">
		<button ng-click="createPhone()" class="button-white">Adicionar telefone</button>
		<a href="#/editar-usuario?id={{id}}"><button class="button-white">Editar usuário</button></a>
		
	</div>

	<div class="p50">
		<ng-include src="setores_src">
		</ng-include>
	</div>

</div>


<div class="modal-message" id="delete_modal">
	<h4><i class="fa fa-exclamation-circle"></i> Cuidado!</h4>
	<hr>
	<p>Você tem certeza que deseja excluir esse telefone?</p>
	<div class="buttons">
		<button class="button-primary" ng-click="delete()">Comfirmar</button>
		<button ng-click="hiddenModal()">Cancelar</button>
	</div>
</div>

<div class="modal-message" id="association_delete_modal">
	<h4><i class="fa fa-exclamation-circle"></i> Cuidado!</h4>
	<hr>
	<p>Você tem certeza que deseja remover esse setor desse usuário?</p>
	<div class="buttons">
		<button class="button-primary" ng-click="associationDelete()">Comfirmar</button>
		<button ng-click="hiddenModal()">Cancelar</button>
	</div>
</div>
