<div class="column7">			
	<h4>Dashboard</h4>
	
	<br/>
	<a href="#/tickets/admin"><h5 class="blue"><i class="fa fa-comments-o"></i> Tickets</h5></a>
	<p class="subtitle">Todos os tickets do sistema.</p>
	
	<br/>
	<a href="#/usuarios"><h5 class="blue"><i class="fa fa-users"></i> Usuários</h5></a>
	<p class="subtitle">Gerencie os usuários do sistema.</p>

	<br/>
	<a href="#/setores"><h5 class="blue"><i class="fa fa-cubes"></i> Setores</h5></a>
	<p class="subtitle">Todos os setores do sistema.</p>

	<br/>
	<a href="#/usuario/mudar-senha"><h5 class="blue"><i class="fa fa-shield"></i> Mudar senha</h5></a>
	<p class="subtitle">Alterar sua senha por uma nova.</p>

	


</div>