<div class="column7">			
	<h4>Dashboard</h4>

	<br/>
	<a href="#/criar-ticket"><h5 class="blue"><i class="fa fa-paper-plane"></i> Novo ticket</h5></a>
	<p class="subtitle">Crie um novo ticket.</p>
	
	<br/>
	<a href="#/tickets"><h5 class="blue"><i class="fa fa-comments-o"></i> Meus tickets</h5></a>
	<p class="subtitle">Todos os tickets criado por você.</p>
	
	<br/>
	<a href="#/editar-usuario?id={{ user_id }}"><h5 class="blue"><i class="fa fa-cog"></i> Editar informações pessoais</h5></a>
	<p class="subtitle">Você pode mudar seu nome, email, CPF ...</p>

	<br/>
	<a href="#/usuario/mudar-senha"><h5 class="blue"><i class="fa fa-shield"></i> Mudar senha</h5></a>
	<p class="subtitle">Alterar sua senha por uma nova.</p>

</div>