<nav> <a <a href="#/">dashboard</a> > setores</nav>

<div class="column3">
<h4>Setores </h4><br>
<ul class="list-trash">
	<li ng-repeat="sector in sectors">
		{{ sector.name }}
		<i class="fa fa-{{ sector.count | sectorIcon }}" ng-click="deleteSector(sector.id, sector.count)"></i>
	</li>
</ul>

<br>
<input type="text" name="name" ng-model="name">
<button class="button-white" ng-click="createSector()">Adicionar setor</button>

</div>


<div class="modal-message" id="delete_modal">
	<h4><i class="fa fa-exclamation-circle"></i> Cuidado!</h4>
	<hr>
	<p>Você tem certeza que deseja excluir esse setor? Observação: o setor só será excluído caso nenhum usuário tenha sido associado a ele.</p>
	<div class="buttons">
		<button class="button-primary" ng-click="delete()">Comfirmar</button>
		<button ng-click="hiddenModal()">Cancelar</button>
	</div>
</div>