
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

a {
	text-decoration: none;
	font-weight: bold;
}
body { 
	height: 100%;
	background-color: #ffffff; 
}
html {
	height: 100%;
}

	body *{
		font-family: 'Open Sans', sans-serif;
	}

header {
	padding: 20px 10px 10px 10px;
}
	header span{
		color: #085BFD;
	}

	header ul { 
		margin-top: 10px;
		float: right; 
		margin-right: 10px;
	}

	header ul li h6{
		margin-left: 10px;
		color: #AAA;
	}

	header * {
		display: inline-block;		 
	}

.shadow {
	 box-shadow: 0px 3px 4px rgba(0,0,0,0.1); 
}

.content { min-height: 600px; }

.link-soft { 	
	margin-bottom: 10px;
	text-decoration: none;
	color: #AAA !important;
	font-size: 1.2em;
	margin-right: 10px;
}

hr {
	margin-bottom: 20px;
}
.hr-soft {
	margin-bottom: 5px;
}

.inline { display: inline-block; }

.inline-top { display: inline-block; vertical-align: top; }


/* Forms 
=========================================== */
form {
	width: 100%;
	padding: 1em;
	border: 1px solid rgba(0,0,0,0.1);
}

form.clean {
	width: 97%;
	border: 0;
	padding: 10px;
}


input[type="submit"] {
	min-width: 100px;
	font-size: 0.9em;
}

select { height: 31px;}

textarea { 
	width: 435px;
	height: 200px;
	font-size: 1em;
}

label { font-size: 1em; margin-bottom: 4px; }

.btn-light,
.btn-light:hover {
	padding: 10px 20px 10px 20px ;
	font-size: 1em;
	background: #ffffff !important;
}

footer {
	display: block;
	margin: 60px 0px  20px 0px !important;
	height: 20px;
	text-align: center;
}

.input-100 {
	width: 100% !important;
	box-sizing: border-box;
}

.button-white {
	background-color: white;
	color: rgb(119, 119, 119) !important;
	border: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	background: none !important;
	font-weight: normal;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 6.5px;
}

/* #Page Styles
================================================== */


/* Cadastro */
#cadastro {
	margin-left: 10px;
}

.field-2-col {
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
}
	.field-2-col input,
	.field-2-col select {
		box-sizing: border-box;
		width: 100%;
	}

.radio-male,
.radio-female{
	display: inline-block;
}

input[name="nome"] {
   box-sizing: border-box;
   width: 100%;
}

input[name="subject"] {
   box-sizing: border-box;
   display: block;
   width: 100%;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

/* tabs */
#tabs ul li{
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	height: 20px;
	padding: 10px;
	
	background-color: #ffffff;
	color: rgba(0,0,0,0.5);
	
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;

	border-top-left-radius: 6px;
	border-top-right-radius: 6px;	
	margin-right: 3px;
	margin-left: 1px;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.1);
}

.tab-open {	
	color: rgba(0,0,0,0.8) !important;
	box-shadow: 0px 1px 0px #ffffff, 0px -2px 2px rgba(0,0,0,0.1) !important;	
}

.tab-close {
}

.table-container {
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	min-height: 300px;
}

#novo-ticket {
	display: block;
	float: right;
	padding: 10px 20px 10px 20px ;
	font-size: 1em;
	background: #ffffff;
}

table {
	width: 100%;
	border:1px solid #E9E9E9;
	border-bottom: 2px solid #E9E9E9;
	font-size: 1em;
}


td,th {
	text-align: left;
	height: 30px;
	padding: 10px 10px 0px 10px;
	border-bottom: 1px solid #E9E9E9;
}

td i {
	margin-right: 8px;
}

.blue {
	color: #085BFD;
}

.subtitle {
	color: rgba(0,0,0,0.4);
}

/* Novo ticket page */
#anexar {
	width: 100%;
	padding: 10px 20px 10px 20px;
	border: 1px solid rgba(0,0,0,0.1);
}

	#anexar p { display: inline-block; margin-left: 10px;}

/* Novo ticket sucesso */	
.soft {
	color: rgba(0,0,0,0.5) !important;
}

#big-letter {
	font-size: 1.2em ;
}

/* Visualizar ticket*/
.info-ticket {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

#history {
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.1);
}
	#history li {
		font-size: 1.1em;
		padding-top: 5px;
		height: 25px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#history li:last-child {
		border-bottom: 0px solid rgba(0,0,0,0.1);
	}
	#msg,#note {
		width: 99%;
		font-size: 1.2em;		
	}

/* Lists 
================================================== */
.list-trash li {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

.list-trash li i {
	float: right;
}

/* Menus 
================================================== */
.menu-default {
	padding: 1em;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	border-radius: 6px;
}

.menu-default h4{
	display: inline-block;
	vertical-align: top;
}

.menu-default .options {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-right: 10px;
}

.menu-default .options select {
	display: inline-block;
}

/* Messages 
================================================== */
.message {
	position: relative;
    min-height: 1em;
    margin: 1em 0;
	padding: 1em 1.5em;
	width: 100%;
	box-sizing: border-box;
}

.message.warning {
	background-color: #fffbe6;
    color: #876a38;
	-moz-box-shadow: 0 0 0 1px #d9caab inset,0 1px 2px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 1px #d9caab inset,0 1px 2px 0 rgba(0,0,0,.05);
	box-shadow: 0 0 0 1px #d9caab inset,0 1px 2px 0 rgba(0,0,0,.05);
}

.message.info {
	background-color: #e9faff;
    color: #337b92;
    -moz-box-shadow: 0 0 0 1px #aad6df inset,0 1px 2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 0 1px #aad6df inset,0 1px 2px 0 rgba(0,0,0,.05);
	box-shadow: 0 0 0 1px #aad6df inset,0 1px 2px 0 rgba(0,0,0,.05);
}

.message.positive {
	background-color: #eeffe7;
    color: #3c763d;
	-moz-box-shadow: 0 0 0 1px #b7caa7 inset,0 1px 2px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 1px #b7caa7 inset,0 1px 2px 0 rgba(0,0,0,.05);
	box-shadow: 0 0 0 1px #b7caa7 inset,0 1px 2px 0 rgba(0,0,0,.05);
}

.message.negative {
	background-color: #fff0f0;
    color: #a94442;
	-moz-box-shadow: 0 0 0 1px #dbb1b1 inset,0 1px 2px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 1px #dbb1b1 inset,0 1px 2px 0 rgba(0,0,0,.05);
	box-shadow: 0 0 0 1px #dbb1b1 inset,0 1px 2px 0 rgba(0,0,0,.05);
}

/* Modal
================================================== */

.modal {
	display: none;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	background-color: rgba(0,0,0,0.3);
}

.modal-message {
	display: none;
	position: fixed;
	top: 10%;
	max-width: 400px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	z-index: 1010;
	background-color: #fff;
	border-radius: 6px;
}

	.modal-message h4 {
		margin-left: 10px;
		margin-top: 10px;
		color: rgba(0,0,0,0.5);
	}

	.modal-message hr {
		margin-bottom: 10px;
	}

	.modal-message p {
		color: #444;
		margin-left: 10px;
		margin-right: 10px;
	}

	.modal-message .buttons {
		margin-left: 10px;
		margin-top: 10px;
	}

	.modal-message .buttons button {
		margin-bottom: 10px;
	}

	.modal-message .buttons .button-primary {
		background-color: #085BFD;
		color: #fff;
		border-width: 0px;
	}

nav {
	padding: 10px;
}

/* Show attributes
================================================== */
.att-message label {
	margin-left: 10px;
}

.att-message label .date {
	color: rgba(0,0,0,0.5);
	margin-right: 15px;
	float: right;
}
.att-message p{
	/*background-color: rgba(0,0,0,0.02);*/
	padding: 10px;
}

.att {
	box-sizing: border-box;
	width: 98.7%;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
}
.att.col2 {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
.att label {
	background-color: rgba(0,0,0,0.02);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
}

.att p {
	box-sizing: border-box;
	padding: 5px 10px;
}

.form-phones li {
	color: rgba(0,0,0,0.5);
	width: 46%;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 5px;
	margin-bottom: 5px;
}

.form-phones li i {
	margin-right: 5px;
	float: right;
}

.form-phones label {
	margin-top: 10px;
}

.form-phones input {
	display: block;
	margin-bottom: 10px;
}

.p50 {
	width: 46%;
}

.super-list li {
	cursor: pointer;
	width: 70%;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	margin-bottom: 3px;

}

.super-list .focus {
	border: 1px solid #085BFD;
	background-color: #085BFD;
	color: #fff;
}

.text-options {
	margin-right: 10px;
	float: right;
	display: inline-block;
	vertical-align: top;
}

.text-options i {
	padding: 5px 10px 5px 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	margin-left: 3px;
}

.text-options-sub {
	display: inline-block;
	vertical-align: top;
}

.text-options i:hover {
	border: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
}

.text-options i:hover .tip {
	display: block;
}


.tip {
	position: absolute;
	left: -60px;
	top: 30px;
	padding: 5px;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	width: 150px;
	border-radius: 6px;
	text-align: center;
	display: none;
}

.files {
	margin-left: 10px;
	margin-bottom: 10px;
}

.files i {
	margin-right: 10px;
	position: relative;
}

.files i:hover {
	color: #085BFD;
}

.files i:hover .tip {
  display: block;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/