<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Open Ticket</title>
	<meta name="description" content="">
	<meta name="author" content="Matheus ">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/1140.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

  <!-- Fonts
  ================================================= -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<script src="js/jquery.js"></script>

	<!-- BOWER JS 
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/formatter/dist/formatter.min.js"></script>
    <script src="vendor/moment/min/moment.min.js"></script>

    <link href="vendor/pikaday/css/pikaday.css" rel='stylesheet' type='text/css'>
    <script src="vendor/pikaday/pikaday.js"></script>

	<!-- JS
	<script src="vendor/moment/min/moment.min.js"></script>–––––––––––––––––––––––––––––––––––––––––––––––––– -->


	<script src="js/services/services.init.js"></script> 
	<script src="js/services/auth.js"></script>
	<script src="js/services/phones.js"></script> 
	<script src="js/services/sectors.js"></script> 
	<script src="js/services/users.js"></script>
	<script src="js/services/tickets.js"></script>

	<script src="js/app.js"></script>
	<script src="js/filters.js"></script>

	<script src="js/controllers/Header.js"></script>
	<script src="js/controllers/cadastrarUsuario.js"></script>
	<script src="js/controllers/Usuarios.js"></script>
	<script src="js/controllers/Usuario.js"></script>
	<script src="js/controllers/editarUsuario.js"></script>
	<script src="js/controllers/Setores.js"></script>
	<script src="js/controllers/DashboardOrdinary.js"></script>
	<script src="js/controllers/DashboardSupport.js"></script>
	<script src="js/controllers/DashboardAdmin.js"></script>
	<script src="js/controllers/criarTicket.js"></script>
	<script src="js/controllers/Login.js"></script>
	<script src="js/controllers/Tickets.js"></script>
	<script src="js/controllers/Ticket.js"></script>
	<script src="js/controllers/TicketsSupport.js"></script>
	<script src="js/controllers/mudarSenha.js"></script>
	<script src="js/controllers/TransferirTicket.js"></script>
	<script src="js/controllers/TicketsAdmin.js"></script>
	<script src="js/controllers/EsqueciSenha.js"></script>
	

</head>
<body ng-app="openTicket">
<div style="min-height: 100%;">
<div class="container12">
	<div class="column12">
		<header ng-controller="Header">
			<h2> Open <span>Ticket<span></h2>
			<ul>
				<a href="#/dashboard" ng-show="user_name">
					<li><h6><i class="fa fa-user"></i> {{ user_name }}</h6></li>
				</a>
				<a href="#/">
					<li><h6><i class="fa fa-home"></i> HOME</h6></li>
				</a>
				
				<a id="login" href="#/login">
					<li><h6><i class="fa fa-sign-in"></i> LOGIN</h6></li>
				</a>

				<a id="sair" href="#/login" ng-click="sair()">
					<li><h6><i class="fa fa-sign-out"></i> SAIR</h6></li>
				</a>

				

			</ul>					
		</header>
		<hr class="shadow">

	</div>

	<div ng-view></div>
	
</div><!-- container 12-->	
</div>
<footer>
	Copyright © 2015 Matheus Araújo. Todos os direitos reservados.
</footer>

<div class="modal">
	<!-- modal messages 12-->	
</div>

<!-- End Document
================================================== -->
</body>
</html>