<form class="clean">
	<label class="inline-top">Responder</label>
	<div class="text-options">
		<i class="fa fa-paperclip" ng-click="addAttach()">
			<span class="tip">
				adicionar anexo
			</span>
		</i>
		<div class="text-options-sub">
		</div>
	</div>
	
	<textarea id="message"></textarea>
	<button id="enviar" class="btn-light" ng-click="sendMessage()">
		<i class="fa fa-paper-plane"></i> Enviar
	</button>

	<button id="takeToMe" class="btn-light" ng-click="takeToMe()">
		<i class="fa fa-bookmark"></i> Pegar ticket 
	</button>

	<button id="closeTicket" class="btn-light" ng-click="closeTicket()">
		<i class="fa fa-archive"></i> Fechar ticket 
	</button>

	<button id="openAgain" class="btn-light" ng-click="openAgain()">
		<i class="fa fa-refresh"></i> Reabrir ticket 
	</button>

	<button id="transferir" class="btn-light" ng-click="transferir()">
		<i class="fa fa-user"></i> Transferir
	</button>
	
	
</form>