<nav> <a <a href="#/dashboard">dashboard</a> > <a href="#/tickets"> tickets </a> > novo ticket</nav>

<div class="column6">

	<form>
		<h4> Novo ticket</h4>
		<p id="message" class="message info">Todos os campos devem ser preenchidos.</p>
		
		<div>
			<label>Assunto</label>
			<input id="subject" name="subject" type="text" ng-model="subject">
		</div>

		<div class="field-2-col">
			<label>Setor</label>
			<select id="sector" name="sector" ng-model="sector">
				<option ng-repeat="sect in sectors" value="{{ sect.id }}"> {{ sect.name }}</option>	
			</select>
		</div>

		<div class="field-2-col">
			<label>Data para vencimento do ticket</label>
			<input id="prompt" name="prompt" type="text">
		</div>

		<label class="inline-top">Mensagem</label>
		<div class="text-options">
			<i class="fa fa-paperclip" ng-click="addAttach()">
				<span class="tip">
					adicionar anexo
				</span>
			</i>
		</div>
		<textarea id="description" name="description" ng-model="description"></textarea>

		<button id="enviar" class="btn-light" ng-click="createTicket()"><i class="fa fa-paper-plane"></i> Enviar</button>
		<button id="resetar" class="btn-light" ng-click="cleanForm()"><i class="fa fa-refresh"></i> Resetar</button>
		
		<button id="cancelar" class="btn-light"><i class="fa fa-times"></i> Cancelar</button>
		

	</form>
</div>