<nav> <a href="#/dashboard">dashboard</a> > <a href="#/tickets">tickets</a> > ticket</nav>

<div class="column6">
	<h4>Ticket</h4>

	<div class="att col2">
		<label>Protocolo</label>
		<p>{{ protocol }}</p>
	</div>

	<div class="att col2">
		<label>Setor</label>
		<p>{{ sector }}</p>
	</div>

	<div class="att">
		<label>Assunto</label>
		<p>{{ subject }}</p>
	</div>

	<div class="att col2">
		<label>Status</label>
		<p>{{ status | status}}</p>
	</div>

	<div class="att col2">
		<label>Data de vencimento</label>
		<p>{{ prompt | date }}</p>
	</div>

	<div class="att" ng-show="support_name">
		<label>Suporte</label>
		<p>{{ support_name }}</p>
	</div>

	<hr>
	<div class="att-message">
		<label>{{ name }}</label>
		<p>{{ description }}</p>
		<div class="files">
			<i class="fa fa-file" ng-repeat="attach in attachs_ticket" ng-click="download(attach.path)">
				<span class="tip">
					{{ attach.path | path }}
				</span>
			</i>
		</div>
	</div>

	<div class="att-message" ng-repeat="message in messages">
		<label>{{ message.name }} <span class="date">{{ message.date | datetime}}</span></label>
		<p>{{ message.text }}</p>
		<div class="files">
			<i class="fa fa-file" ng-repeat="attach in message.attachs" ng-click="download(attach.path)">
				<span class="tip">
					{{ attach.path | path }}
				</span>
			</i>
		</div>
	</div>


	<hr>
	<div ng-include="actions">
		
	</div>

</div>

<div class="modal-message" id="take_to_me_modal">
		<h4><i class="fa fa-exclamation-circle"></i> Ohhh!</h4>
		<hr>
		<p>Parece que alguém já pegou esse ticket.</p>
		<div class="buttons">
			<button class="button-primary" ng-click="hiddenModal()">Tudo bem!</button>
		</div>
</div>