<nav> <a href="#/dashboard">dashboard</a> > tickets</nav>

<div class="column12">
	<div class="table-container">
		<div class="menu-default">
			<h4> Tickets </h4>
			<div class="options">
				<a href="#/criar-ticket"><button class="button-white">Novo ticket</button></a>
				<select id="query" ng-model="query" ng-change="filter(query)">
				    <option value="new">Novos</option>
					<option value="open">Abertos</option>
					<option value="close">Fechados</option>
					<option value="all">Todos</option>
				</select>
			</div>
		</div>

		<table>
			<tr>
				<th>Protocolo</th>
				<th>Status</th>
				<th>Assunto</th>
				<th>Data de vencimento</th>
				<th>Setor</th>
				<th></th>
			</tr>

			<tr ng-repeat=" ticket in tickets">
				<th><a href="#/ticket?id={{ ticket.id }}">{{ ticket.protocol }}</a></th>
				<th>{{ ticket.status | status }}</th>
				<th>{{ ticket.subject }}</th>
				<th>{{ ticket.prompt | date }}</th>
				<th>{{ ticket.name }}</th>
				<th><i class="fa fa-trash" ng-click="modalDelete(ticket.id)"></i></th>
			</tr>
		</table>
	</div>
</div>


<div class="modal-message" id="delete_modal">
		<h4><i class="fa fa-exclamation-circle"></i> Cuidado!</h4>
		<hr>
		<p>Você tem certeza que deseja excluir esse ticket?</p>
		<div class="buttons">
			<button class="button-primary" ng-click="delete()">Comfirmar</button>
			<button ng-click="hiddenModal()">Cancelar</button>
		</div>
</div>
