<nav> <a href="#/dashboard">dashboard</a> > tickets</nav>

<div class="column12">
	<div class="table-container">
		<div class="menu-default">
			<h4> Tickets </h4>
			<div class="options">
				<select id="query" ng-model="query" ng-change="filter(query)">
					<option value="new">Novos</option>
					<option value="open">Abertos</option>
					<option value="close">Fechados</option>
					<option value="all">Todos</option>
				</select>
			</div>
		</div>

		<table>
			<tr>
				<th>Protocolo</th>
				<th>Status</th>
				<th>Assunto</th>
				<th>Data de vencimento</th>
				<th>Setor</th>
			</tr>

			<tr ng-repeat=" ticket in tickets">
				<th><a href="#/ticket?id={{ ticket.id }}&user_id={{ ticket.user_id }}">{{ ticket.protocol }}</a></th>
				<th>{{ ticket.status | status }}</th>
				<th>{{ ticket.subject }}</th>
				<th>{{ ticket.prompt | date }}</th>
				<th>{{ ticket.name }}</th>
			</tr>
		</table>
	</div>
</div>

