<nav> <a href="#/dashboard">dashboard</a> > <a href="#/tickets">tickets</a> > transferir</nav>

<div class="column6">
	<h3>Tranferir Ticket</h3>
	<p>Você pode tranferir de setor ou de suporte. Caso mude somente de setor ele será marcado com o rótulo novo. Tickets tranferidos para um suporte diretamente continuará com o rótulo de aberto.</p>

	
	<br/>
	<label>Setor</label>
	<select id="sector" ng-change="changeUsers()" ng-model="sector">
		<option ng-repeat="sect in sectors" value="{{ sect.id }}"> {{ sect.name }}</option>
	</select>

	<label>Escolha um suporte</label>
	<ul class="super-list">
		<li ng-repeat="user in users" class="{{ user.class }}" ng-click="changeFocus(user.id)">{{ user.name }}</li>
	</ul>

	<br/>
	<button class="button-white" ng-click="transferir()">Tranferir ticket</button>
</div>