<nav>  <a href="#/login"> voltar</a></nav>

<div class="column12">
	
	<h4>Para recuperar sua senha precisamos do seu endereço de email<br> que foi cadastrado junto com sua conta.</h4>
	<br>
	<label>Seu e-mail</label>
	<input id="email" type="text" >
	<button class="button-white" ng-click="send()">Recuperar</button>  
</div>